[submodule "nginxWebUI"]
	path = nginxWebUI
	url = https://gitee.com/cym1102/nginxWebUI.git
[submodule "wg-easy"]
	path = wg-easy
	url = https://github.com/wg-easy/wg-easy.git
[submodule "rustdesk-api-server"]
	path = rustdesk-api-server
	url = https://github.com/xiaoyi510/rustdesk-api-server.git
[submodule "PMail"]
	path = PMail
	url = https://github.com/Jinnrry/PMail.git